
@import 'utils/_fonts';

$bp-small: 800px;
$bp-large: 1450px;

:root {
  --black:  rgb( 20,  20,  20);
  --blue:   rgb( 57,  32, 194);
  --deep-blue: rgb(0, 20, 59);
  --yellow: rgb(255, 186, 66);
  --pink: #ff99ee;
  --light-blue:  rgb(84, 84, 255);
  --light-pink: rgb(255, 99, 107);
  --white: #fff;
  --orange: rgb(236, 96, 42);
  --grey: #21252c;
  --orange-text: #f90;

  --header-height: 5rem;
  --wrap: 4vw;
  --header-link-padding-x: 20px;
  --header-link-padding-y: 15px;

  --color-text-important: var(--orange-text);
  --color-text: var(--black);
  --color-body: var(--white);
  --font-primary: Pier Sans;
  --font-secondary: Pier Sans;
  --heading-letter-spacing: 0.025em;
  --heading-font-family: var(--font-primary);
  --page-width: $bp-large;
  --base-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}


* {
  box-sizing: border-box;
}

body {
  color: var(--color-text);
  background-color: var(--color-body);
  font-family: var(--font-secondary);
  overflow-x: hidden;
  margin: 0;
  &::-webkit-scrollbar-thumb {
    background-color: var(--white);
  }

  &::-webkit-scrollbar{
    width: 5px;
    background-color: var(--grey);
  }
}

.header {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background: var(--grey);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--wrap);
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  transition: transform .5s;
  transition-delay: 0s;
  transition-timing-function: ease;
}

.header:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: var(--wrap);
  width: calc(100% - var(--wrap)*2);
  height: 1px;
  background: var(--white);
}

.header-menu {
  position: relative;
  margin-right: calc(var(--header-link-padding-x)*-1);
}

.header-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-menu__li {
  margin-right: .75rem;
}

.header-menu a {
  position: relative;
  display: inline-block;
  padding: var(--header-link-padding-y) var(--header-link-padding-x);
  color: var(--text-color);
  transition: color .75s;
  transition-delay: 0s;
  transition-timing-function: ease;
  color: var(--white);
  text-decoration: none;
}

a {
  color: var(--blue);
}

.whitespace {
  padding: 0.2em;
}

.main {
  min-height: 90vh;
  max-height: 90vh;
  display: flex;
  justify-content: center;
  background-color: var(--grey);
  & .main-wrapper {
    width: calc(100% - var(--wrap)*2);
    align-self: center;
    display: flex;
    & .general-info {
      width: calc(100% - var(--wrap)*2);
      position: absolute;
      & h1 {
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: var(--white);
        font-size: 6.8rem;
        line-height: 95%;
        text-transform: uppercase;
        font-weight: 400;
        & .moving_text {
          position: relative;
        }
        & .moving_text:nth-child(2) {
          left: 13vw;
        }
        & .moving_text:nth-child(4) {
          left: 6vw;
        }
      }
    }
    & .photo-container {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      & img {
        width: 60%;
        align-self: flex-end;
      }
    }
  }
}


// Features
.featured-content {
  position: relative;
}

.feature {
  position: relative;
  width: 100%;
  background-color: var(--light-blue);
  
  @media (min-width: $bp-small) {
    overflow: hidden;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
    height: 100vh;
  }
  
  &:nth-child(2n) {
    background-color: var(--pink);
  }
  
  &:nth-child(3n) {
    color: var(--white);
    background-color: var(--deep-blue);
  }

  &:nth-child(4n) {
    background-color: var(--light-pink);
  }

  &:nth-child(5n) {
    background-color: var(--orange);
  }

  &:nth-child(6n) {
    background-color: var(--yellow);
  }
  
  &:nth-child(odd) {
    @media (min-width: $bp-small) {
      .feature-inner {
        flex-direction: row-reverse;
      }
    
      .feature-image-container {
        margin-right: 4rem;
        transform: translateX(-2rem);
      }
      
      &.show-feature .feature-image-container {
        transform: translateX(0%);
      }
    }
  }
  
  &:nth-child(even) {      
    @media (min-width: $bp-small) {
      .feature-inner {
        flex-direction: row;
      }
    
      .feature-image-container {
        margin-left: 4rem;
        transform: translateX(2rem);
      }
      
      &.show-feature .feature-image-container {
        transform: translateX(0%);
      }
    }
  }
}

.feature-inner {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
  max-width: $bp-large;
  
  @media (min-width: $bp-small) {
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100vh;
  }
  
  > * {
    flex: 0 1 50%;
  }
}

.feature-image-container {
  position: relative;
  margin-top: 2rem;
  opacity: 0;
  transition:
    opacity 0.5s var(--base-timing-function),
    transform 0.5s var(--base-timing-function);
  
  .show-feature & {
    opacity: 1;
  }
  
  @media (min-width: $bp-small) {
    margin-top: 0;
    max-width: 70vmin;
  }
  
  img {
    position: relative;
    width: 100%;
    vertical-align: bottom;
    z-index: 2;
  }
}

.feature-copy {
  position: relative;
  z-index: 2;
  opacity: 0;
  transform: translateY(2rem);
  transition: 
    opacity 0.5s var(--base-timing-function),
    transform 0.5s var(--base-timing-function);
  
  .show-feature & {
    opacity: 1;
    transform: translateY(0);
  }
}

.feature-headline {
  font-size: calc(1rem + 5vmin);
  font-family: var(--heading-font-family);
  letter-spacing: var(--heading-letter-spacing);
  text-transform: uppercase;
}

.feature-subheadline {
  margin-top: 0.5rem;
  font-size: calc(1rem + 2.5vmin);
  font-family: var(--heading-font-family);
  letter-spacing: var(--heading-letter-spacing);
  text-transform: uppercase;
}

.feature-text {
  margin-top: 2rem;
  font-size: calc(1rem + 0.5vmin);
  font-family: var(--font-secondary);
  line-height: 1.4;
  text-transform: uppercase;
}

.footer {
  border-top: 1px solid var(--white);
  background-color: var(--grey);
  padding: 2.125rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: .03em;
  text-transform: uppercase;
}
