
@import 'utils/_fonts';
@import 'scroll';

$bp-small: 800px;
$bp-large: 1450px;

:root {
  --black:  rgb( 20,  20,  20);
  --blue:   rgb( 57,  32, 194);
  --deep-blue: rgb(0, 20, 59);
  --yellow: rgb(255, 186, 66);
  --pink: #ff99ee;
  --light-blue:  rgb(84, 84, 255);
  --light-pink: rgb(255, 99, 107);
  --white: #fff;
  --orange: rgb(236, 96, 42);
  --grey: #21252c;
  --orange-text: #f90;

  --header-height: 5rem;
  --wrap: 4vw;
  --header-link-padding-x: 20px;
  --header-link-padding-y: 15px;

  --color-text-important: var(--orange-text);
  --color-text: var(--black);
  --color-body: var(--white);
  --font-primary: Syntha;
  --font-secondary: Syntha;
  --heading-letter-spacing: 0.025em;
  --heading-font-family: var(--font-primary);
  --page-width: $bp-large;
  --base-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);

  :root {
    --mouse-x: 0;
    --mouse-y: 0;
  }
}

* {
  box-sizing: border-box;
}

body {
  color: var(--white);
  background-color: #16162a;
  font-family: var(--font-secondary);
  overflow-x: hidden;
  margin: 0;
  &::-webkit-scrollbar-thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--white);
    opacity: 1;
    width: 4px;
    height: 75px !important;
    border-radius: 0;
    margin: 5px;
    cursor: grab;
  }

  &::-webkit-scrollbar{
     position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100%;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 1;
  }
}

.header {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  // background: var(--grey);
  background-color: #16162a;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--wrap);
  font-size: 13px;
  line-height: 16px;
  text-transform: lowercase;
  transition: transform .5s;
  transition-delay: 0s;
  transition-timing-function: ease;
}

.header:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: var(--wrap);
  width: calc(100% - var(--wrap)*2);
  height: 1px;
  background: var(--white);
}

.header-menu {
  position: relative;
  margin-right: calc(var(--header-link-padding-x)*-1);
}

.header-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-menu__li {
  margin-right: .75rem;
}

.header-menu a {
  position: relative;
  display: inline-block;
  padding: var(--header-link-padding-y) var(--header-link-padding-x);
  color: var(--text-color);
  transition: color .75s;
  transition-delay: 0s;
  transition-timing-function: ease;
  color: var(--white);
  text-decoration: none;
}

a {
  color: var(--blue);
}

.whitespace {
  padding: 0.2em;
}

.main {
  min-height: 90vh;
  max-height: 90vh;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  //background-color: var(--grey);
  background-color: #16162a;
  & .main-wrapper {
    width: calc(100% - var(--wrap));
    display: flex;
    & .general-info {
      width: calc(100% - var(--wrap)*2);
      position: absolute;
      top: 0;
      z-index: 2;
      opacity: 0;
      transform: translateY(2rem);
      & h1 {
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: var(--white);
        font-size: 6.8vw;
        line-height: 95%;
        text-transform: lowercase;
        font-weight: 400;
        //text-shadow: -10px -4px 0px rgba(204,222,40,1);
        & .moving_text {
          position: relative;
        }
        & .moving_text:nth-child(2) {
          left: 19vw;
        }
        & .moving_text:nth-child(4) {
          left: 6vw;
        }
      }
    }
    & .photo-container {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      // background-image: url('../img/removed-bg.png');
      // background-size: contain;
      // background-position-x: right;
      // background-position-y: bottom;
      // background-repeat: no-repeat;
      opacity: 0;
      transform: translateX(-6rem);
      & img {
        width: 25%;
        position: absolute;
        bottom: 6rem;
        right: 4rem;
        align-self: center;
          display: block;
          margin-right: 2rem;
          //background-color: #bb01dd;
          background-color: #ef7e68;
          //box-shadow: 39px 30px 0px 8px rgba(0,182,198,0.88);
          box-shadow: 39px 30px 0px 8px rgba(136,113,177,0.88);
      }
    }

    // .show-main-photo {
    //   transform: translateX(-2rem);
    //   opacity: 1;
    //   transition:
    //   opacity 1s var(--base-timing-function),
    //   transform 1s var(--base-timing-function);

    // }

    // .show-main-text {
    //   opacity: 1;
    //   transform: translateY(0);
    //   transition:
    //   opacity 1s var(--base-timing-function),
    //   transform 1s var(--base-timing-function);
    // }
  }
}

// Features
.featured-content {
  position: relative;
}

.feature {
  position: relative;
  width: 100%;
  //background-color: var(--light-blue);
  // background-color: #16162a;
  background-color: #cfdf25;

  &.show-feature .flow-wrap {
    transform: translateX(9%);
    opacity: 1;
  }
  
  @media (min-width: $bp-small) {
    overflow: hidden;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
    height: 100vh;
    background-color: #16162a;
}
  
  &:nth-child(2n) {
    @media (min-width: $bp-small) {
      background-color: #16162a;
  }
    background-color: #8970b1;
    & .flow-wrap {
      background-color: #8970b1;
      transform: translate(-6%);
    }
    &.show-feature .flow-wrap {
      transform: translateX(-7%);
    }
  }
  
  &:nth-child(3n) {
    @media (min-width: $bp-small) {
      background-color: #16162a;
  }
    background-color: #ef806f;
    & .flow-wrap {
      background-color: #ef806f;
      transform: translate(2%);
    }

    &.show-feature .flow-wrap {
      transform: translateX(3%);
    }
  }

  &:nth-child(4n) {
    @media (min-width: $bp-small) {
      background-color: #16162a;
  }
    background-color: #6dc8b6;
    & .flow-wrap {
      background-color: #6dc8b6;
      transform: translate(-15%);
    }
    &.show-feature .flow-wrap {
      transform: translateX(-16%);
    }
  }

  &:nth-child(5n) {
    @media (min-width: $bp-small) {
      background-color: #16162a;
  }
    background-color: #393c79;
    & .flow-wrap {
      background-color: #393c79;
      transform: translate(-1%);
    }
    &.show-feature .flow-wrap {
      transform: translateX(0%);
    }
  }

  &:nth-child(6n) {
    @media (min-width: $bp-small) {
      background-color: #16162a;
  }
    background-color: #8970b1;
    & .flow-wrap {
      background-color: #8970b1;
      transform: translate(-7%);
    }
    &.show-feature .flow-wrap {
      transform: translateX(-8%);
    }
  }
  
  &:nth-child(odd) {
    @media (min-width: $bp-small) {
      .feature-inner {
        flex-direction: row-reverse;
      }
    
      .feature-image-container {
        margin-right: 4rem;
        transform: translateX(-2rem);
      }
      
      &.show-feature .feature-image-container {
        transform: translateX(0%);
      }
    }
  }
  
  &:nth-child(even) {      
    @media (min-width: $bp-small) {
      .feature-inner {
        flex-direction: row;
      }
    
      .feature-image-container {
        margin-left: 4rem;
        transform: translateX(2rem);
      }

      &.show-feature .feature-image-container {
        transform: translateX(0%);
      }
    }
  }
}

.feature-inner {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
  max-width: $bp-large;
  & .flow-wrap {
    position: absolute;
    width: 93%;
    height: 70vh;
    background-color: #cfdf25;
    transform: translateX(8%);
    opacity: 0;
    transition:
    opacity 0.5s var(--base-timing-function),
    transform 0.5s var(--base-timing-function);
  }
  
  @media (min-width: $bp-small) {
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100vh;
  }
  
  > * {
    flex: 0 1 50%;
  }
}

.feature-image-container {
  position: relative;
  margin-top: 2rem;
  opacity: 0;
  transition:
    opacity 0.5s var(--base-timing-function),
    transform 0.5s var(--base-timing-function);
  
  .show-feature & {
    opacity: 1;
  }
  
  @media (min-width: $bp-small) {
    margin-top: 0;
    max-width: 70vmin;
  }
  
  img {
    position: relative;
    width: 100%;
    vertical-align: bottom;
    z-index: 2;
  }
}

.feature-copy {
  position: relative;
  z-index: 2;
  opacity: 0;
  transform: translateY(2rem);
  transition: 
    opacity 0.5s var(--base-timing-function),
    transform 0.5s var(--base-timing-function);
  
  .show-feature & {
    opacity: 1;
    transform: translateY(0);
  }
}

.feature-headline {
  font-size: calc(1rem + 5vmin);
  font-family: var(--heading-font-family);
  letter-spacing: var(--heading-letter-spacing);
  text-transform: lowercase;
  line-height: 4rem;
}

.feature-subheadline {
  margin-top: 0.5rem;
  font-size: calc(1rem + 2.5vmin);
  font-family: var(--heading-font-family);
  letter-spacing: var(--heading-letter-spacing);
  text-transform: lowercase;
}

.feature-text {
  margin-top: 2rem;
  font-size: calc(1rem + 0.5vmin);
  font-family: var(--font-secondary);
  line-height: 1.4;
  text-transform: lowercase;
}

.footer {
  // border-top: 1px solid var(--white);
  background-color: #16162a;
  padding: 2.125rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: .03em;
  text-transform: lowercase;
}

.eye {
  --pupil-x: 0;
  --pupil-y: 0;
  --color-whites: var(--fg, #fff);
  --color-lid:  rgb(22 22 42);
  --color-pupil: #ef7e68;
  --color-glint: var(--fg, #fff);
  --scale: 0.75;
  max-width: 100%;
  max-height: 100vh;
  fill: none;
  transform: scale(var(--scale));
  position: absolute;
  opacity: 1; 
}

#eye-0 {
  left: -377%;
    top: 1rem;
    width: 100%;
}

#eye-1 {
  width: 36%;
  right: 94%;
  top: 10rem;
}

#eye-2 {
  right: 37%;
  top: 9rem;
  width: 54%;
}

#eye-3 {
  right: 70%;
  top: 15rem;
width: 26%;
}

#eye-4 {
  right: 67%;
  top: 7rem;
  width: 46%;
}

#eye-5 {
  right: 78%;
    top: 1rem;
    width: 40%;
}

#eye-6 {
  right: 23%;
  top: 4rem;
  width: 24%;
}

#eye-7 {
  right: 38%;
    width: 31%;
}

#eye-8 {
  top: 1rem;
  width: 67%;
}

#eye-9 {
  display: none;
}

#eye-10 {
  display: none;
}

#eye-11 {
  display: none;
}

.lids {
  stroke: var(--color-lid);
  stroke-width: 5%;
}
.whites {
  fill: rgb(84, 84, 255);;
}
.pupil {
  fill: var(--color-pupil);
  cx: 500px;
  cy: 500px;
}
.glint {
  fill: var(--color-glint);
}
.pupil-group {
  transform: translate(calc(var(--pupil-x) * 1px), calc(var(--pupil-y) * 1px));
}
#base-eye {
  display: none;
}
#grid {
  width: 20%;
  position: absolute;
  right: 1rem;
  opacity: 0;
}

.lashes {
  fill: var(--color-pupil);
  cx: 500px;
  cy: 500px;
}

